@stackbox-dev:registry=https://npm.pkg.github.com
# uncomment the following line to authenticate in local dev environment
# //npm.pkg.github.com/:_authToken="\u0067hp_RKborEB8lGZp00uMv7i0d8Oo202jHK3syROX"
